*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:
    radial-gradient(circle at top left,#142850,#071028 40%),
    radial-gradient(circle at bottom right,#1d2671,#071028 40%);

    background-color:#071028;

    color:white;

    overflow-x:hidden;
}

.dashboard{
    display:flex;
    min-height:100vh;
}

.sidebar{

    width:250px;
    height: 100vh;

    background:
linear-gradient(
180deg,
#111c3d 0%,
#0c1631 100%
);

    display:flex;

    flex-direction:column;

    justify-content:space-between;
    left:0;

    top:0;
    

    padding:0;

    border-right:
    1px solid rgba(255,255,255,0.05);
}

/* TOP */

.sidebar-top{

    padding:35px 28px;


    background:
    linear-gradient(
    135deg,
    #103dc5,
    #b53fe8
    );

    border-bottom:
    1px solid rgba(255,255,255,0.08);
}


.logo-section{

    display:flex;

    align-items:center;

    gap:14px;
}


.logo-section h1{

    font-size:20px;

    font-weight:700;

    color:white;

    line-height:1.1;

    margin:0;
}
.logo-section p{

    font-size:13px;

    color:#d6def3;

    margin-top:2px;
}
.logo-icon{

    font-size:34px;


}
/* MENU */

.sidebar-menu{

    padding:25px 19px  2px;

    flex:1;
}

.menu{

    list-style:none;
}

.menu li{

    display:flex;

    align-items:center;

    gap:15px;

    padding:10px 20px;

    margin-bottom:14px;

    border-radius:18px;

    font-size:15px;

    cursor:pointer;

    transition:0.3s;
}

.menu li:hover,
.menu .active{

    background:
    linear-gradient(
    90deg,
    #4f7cff,
    #5d7bff
    );

    box-shadow:
    0 10px 25px rgba(79,124,255,0.35);
}

.menu li i{

    font-size:10px;
}
hr{

    border:none;

    border-top:1px solid rgba(255,255,255,0.12);

    margin:10px 0;
}
/* BOTTOM */

.sidebar-bottom{

    padding:15px 15px;
}

.sidebar-bottom h4{

    color:#7f8db3;

    margin-bottom:10px;

    letter-spacing:1px;

    font-size: 13px;
}

.bottom-item{

    display:flex;

    align-items:center;

    gap:14px;

    padding:14px 18px 5px;

    border-radius:16px;

    margin-bottom:12px;

    cursor:pointer;

    transition:0.3s;
}

.bottom-item:hover{

    background:
    rgba(255,255,255,0.08);
}

/* STATUS */

.system-status{

    margin-top:30px;

    background:
    rgba(255,255,255,0.05);

    border:
    1px solid rgba(255,255,255,0.08);

    padding:20px;

    border-radius:22px;
}
    
.main-content{

    flex:1;

    padding:0;

    background:
    rgba(255,255,255,0.02);

    backdrop-filter:blur(20px);

    -webkit-backdrop-filter:blur(20px);

    position:relative;
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
    
     
    background:
linear-gradient(
180deg,
#0b011d 0%,
#0c1631 100%
);

}

.dashboard-title{
    font-size:52px;
    font-weight:bold;
}

.welcome-text{
    margin-top:10px;
    color:#cfd7e6;
    font-size:18px;
}

.top-actions{
    display:flex;
    align-items:center;
    gap:18px;
}

.search-box{
    width:340px;
    height:55px;
    background:rgba(255,255,255,0.08);
    border-radius:40px;
    display:flex;
    align-items:center;
    padding:0 20px;
}

.search-box input{
    background:none;
    border:none;
    outline:none;
    color:white;
    width:100%;
    margin-left:10px;
    font-size:16px;
}

.icon-btn{
    width:50px;
    height:50px;
    border-radius:50%;
    background:rgba(255,255,255,0.08);
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    position:relative;
}

.badge{
    position:absolute;
    top:-5px;
    right:-2px;
    background:red;
    width:20px;
    height:20px;
    border-radius:50%;
    font-size:12px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.profile-box{
    display:flex;
    align-items:center;
    gap:12px;
    background:rgba(255,255,255,0.08);
    padding:10px 16px;
    border-radius:40px;
}

.profile-box img{
    width:50px;
    height:50px;
    border-radius:50%;
}

.profile-box p{
    color:#b7c2d7;
}

/* =========================
      PREMIUM STAT CARDS
========================= */

.stats-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(240px,1fr));

    gap:22px;

    margin-top:35px;
}

.stat-card{

    position:relative;

    overflow:hidden;

    border-radius:24px;

    padding:22px 24px;

    height:155px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    transition:0.4s ease;

    background:
    linear-gradient(
    145deg,
    rgba(255,255,255,0.06),
    rgba(255,255,255,0.02)
    );

    border:1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(18px);

    -webkit-backdrop-filter:blur(18px);

    box-shadow:
    0 10px 30px rgba(0,0,0,0.35),
    0 0 25px rgba(255,255,255,0.04);
}

.stat-card:hover{

    transform:
    translateY(-6px)
    scale(1.01);

    box-shadow:
    0 18px 40px rgba(0,0,0,0.45);
}

/* glowing top border */





.card-info h2{

    font-size:42px;

    font-weight:800;

    color:white;

    margin-bottom:8px;
}

.card-info p{

    font-size:18px;

    color:#cfd8ff;

    margin:0;
}

.card-icon{

    width:90px;
    height:90px;

    border-radius:20px;

    display:flex;

    align-items:center;
    justify-content:center;

    font-size:42px;

    color:white;

    background:
    rgba(255,255,255,0.08);

    -webkit-backdrop-filter:blur(12px);
backdrop-filter:blur(12px);;
}

/* icon glow */

.blue .card-icon{
    box-shadow:0 0 25px #0072ff;
}

.orange .card-icon{
    box-shadow:0 0 25px orange;
}

.green .card-icon{
    box-shadow:0 0 25px #00ff99;
}

.purple .card-icon{
    box-shadow:0 0 25px violet;
}



.charts-grid{
    margin-top:30px;
    display:grid;
    grid-template-columns:1fr 1fr 350px;
    gap:20px;
}

.chart-card,
.activity-card,
.table-card{
    background:#16213e;
    border-radius:24px;
    padding:25px;
}

.card-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.card-header button{
    background:#253556;
    color:white;
    border:none;
    padding:10px 16px;
    border-radius:20px;
}

.card-header a{
    color:#4ba3ff;
    text-decoration:none;
}

.chart-wrapper{
    height:300px;
}

.activity-item{
    background:rgba(255,255,255,0.06);
    padding:16px;
    border-radius:14px;
    margin-bottom:15px;
    display:flex;
    align-items:center;
    gap:12px;
}

.dot{
    width:14px;
    height:14px;
    border-radius:50%;
}

.green-dot{background:#2ee676;}
.orange-dot{background:orange;}
.blue-dot{background:#2f80ff;}
.purple-dot{background:#bf5cff;}

.table-card{
    margin-top:30px;
}

.table-wrapper{
    overflow-x:auto;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th,
table td{
    padding:18px;
    border-bottom:1px solid rgba(255,255,255,0.08);
}

table th{
    text-align:left;
    color:#cfd9ec;
}

@media(max-width:1200px){

    .stats-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .charts-grid{
        grid-template-columns:1fr;
    }
}

@media(max-width:768px){

    .dashboard{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
    }

    .stats-grid{
        grid-template-columns:1fr;
    }

    .topbar{
        flex-direction:column;
        align-items:flex-start;
        gap:20px;
    }

    .top-actions{
        width:100%;
        flex-wrap:wrap;
    }

    .search-box{
        width:100%;
    }

    .dashboard-title{
        font-size:38px;
    }
}
